[submodule "packages/home"]
	path = packages/home
	url = https://github.com/BuiThiDao/home.git
[submodule "packages/theme_1"]
	path = packages/theme_1
	url = https://github.com/BuiThiDao/theme.git
[submodule "packages/profile"]
	path = packages/profile
	url = https://github.com/BuiThiDao/profile.git
